extends ./layout.pug

block content
  .jumbotron
    h1 Welcome To My Skills
    p This is a rubbish lil OAuth2 Client application that makes use of an OAuth2 Resource server.
    p The OAuth2 Auth Server is provided by Okta. Other Auth service providers are available (like ForgeRock).